Code has been compiled with the following settings:
SPARSE =              : .true. 
Optimized             : .false.
Linearized powerlaw   : .false.
Coordinate directions : ix=1 iy=2 iz=3
Version               : 2016.1 
Compiled on           : Wed Sep 21 15:16:47 2016
